/* CONTACT PAGE-SPECIFIC STYLESHEET */

#box {
	padding-bottom: 10%;
}

hr {
	border-color: #080808;
	background: #080808;
	color: #080808;
}


/* ======== CONTACT BLOCK ========== */

#contactInfoText {
	float: left;
	text-align: center;
}

#contactInfoText h1 {
	text-align: center;
}

#contactForm h1 {
	text-align: center;
}

#contactForm {
	text-align: center;
}

#contactForm a:link {
	color: #080808;
}
#contactForm a:hover {
	color: #ff9900;
}

#contactInfo {
	margin: 20px 10px 20px 10px;
}

/* ==========	MOBILE LAYOUT ========= */
@media (max-width: 767px) {
	#contactInfoText {
		display: block;
		float: none;
	}
	#contactInfo h1 {
		font-size: 1.8em;
	}
	#contactInfo h3 {
		font-size: 1.3em;
	}

	#contactForm {
		padding-top: 20px;
	}
}
