/* ======== GIVING STYLESHEET ========== */
/* CONTACT PAGE-SPECIFIC STYLESHEET */
#give {
	margin-top: 15%;
}

#box {
	padding-bottom: 10%;
	padding-top: 30px;
}

#giving p {
	text-align: left;
}

hr {
	border-color: #080808;
}
