/* ======== GIVING STYLESHEET ========== */

#box {
	padding-bottom: 10%;
	padding-top: 30px;
}

#giving p {
	text-align: left;
}

hr {
	border-color: #080808;
}

#giveBtn,
#giveBtn:active {
	font-size: 2em;
	color: #ff9900;
	border: 1px solid #ff9900;
	padding: 5px 5px 5px 5px;
}

#giveBtn:hover {
	text-decoration: none;
	background-color: #ff9900;
	color: white;
}
